@media (max-width: 320px){

    .container{
        margin-top: 10px;
        justify-content: center;
    }
    
    .matry{
        width: 120px;
        align-self: center;
        padding: 30px; 
    }
    
    
    .links p{
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 16px;
        margin-bottom: 20px;
    }
    
    .seguradoras{
        display: flex;
        flex-wrap: wrap;
        width:320px;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }
    
    .seguradoras img{
        width: 90px;
        margin: 5px;
    }
    .seguradoras .tokio {
        width: 150px;
        height: 60px;
    }

    .seguradoras .yelum{
        width: 140px;
        
    }
    
    /* .seguradoras .liberty{
        width: 120px;
    } */
    
    .seguradoras .allianz{
        width: 120px;
        height: 60px;
    }

    button {
        width: 260px;
        height: 80px;
        font-size: 18px;
    }

    .contacts a {
        font-size: 16px;
    }
}
    
@media (min-width: 321px) and (max-width: 359px){ 

    .container{
        margin-top: 10px;
        justify-content: center;
    }
    
    .matry{
        width: 150px;
    }
    
    .links p{
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 14px;
    }
    
    .seguradoras{
        display: flex;
        flex-wrap: wrap;
        width:320px;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
    }
    
    .seguradoras img{
        width: 90px;
        margin: 5px;
    }
    .seguradoras .tokio {
        width: 150px;
        height: 60px;
    }

    .seguradoras .yelum{
        width: 140px;
        
    }
    
    /* .seguradoras .liberty{
        width: 120px;
    } */
    
    .seguradoras .allianz{
        width: 120px;
        height: 60px;
    }

    button {
        width: 260px;
        height: 80px;
        font-size: 16px;
    }

    .fa-whatsapp{
        font-size: 30px;
    }
    
    .fa-envelope{
        font-size: 30px;
    }
    
    .contacts a {
        font-size: 18px;
    }
    
}

@media (min-width: 360px) and (max-width: 375px){ 
    .container{
        margin-top: 5px;
        justify-content: center;
    }
    
    .matry{
        width: 140px;
        padding: 15px;
        margin-top: 5px;
    }
    
    .links p{
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 14px;
        margin: 5px;
    }
    
    .seguradoras{
        display: flex;
        flex-wrap: wrap;
        width:320px;
        margin-top: 5px;
        justify-content: center;
        align-items: center;
    }
    
    .seguradoras img{
        width: 90px;
        margin: 5px;
        justify-content: space-between;
    }
    .seguradoras .tokio {
        width: 150px;
        height: 60px;
    }

    .seguradoras .yelum{
        width: 140px;
        
    }
    
    /* .seguradoras .liberty{
        width: 120px;
    } */
    
    .seguradoras .allianz{
        width: 120px;
        height: 60px;
    }

    .fa-whatsapp{
        font-size: 30px;
    }

    button {
        width: 240px;
        height: 80px;
        font-size: 14px;
        padding: 10px;
        margin: 10px;
    }
    
    .fa-envelope{
        font-size: 30px;
    }
    
    .contacts a {
        font-size: 14px;
    }

    section .contacts{
        margin-top: 5px;
    }
    
}

@media (min-width: 376px) and (max-width: 425px){

    .container{
        margin-top: 10px;
        justify-content: center;
    }
    
    .matry{
        width: 150px;
        align-self: center; 
    }
    
    .links p{
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 16px;
    }
    
    .seguradoras{
        display: flex;
        flex-wrap: wrap;
        width:375px;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
    }
    
    .seguradoras img{
        width: 110px;
        margin: 5px;
        margin-right: 10px;
    }
    .seguradoras .tokio {
        width: 150px;
        height: 60px;
    }

    .seguradoras .yelum{
        width: 160px;
        
    }
    
    /* .seguradoras .liberty{
        width: 120px;
    } */
    
    .seguradoras .allianz{
        width: 120px;
        height: 60px;
    }    
} 

@media (min-width: 426px) and (max-width: 768px){

    .container{
        margin-top: 10px;
        justify-content: center;
    }
    
    .matry{
        width: 150px;
        align-self: center; 
    }
    
    .links p{
        font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 16px;
    }
    
    .seguradoras{
        display: flex;
        flex-wrap: wrap;
        width:375px;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
    }
    
    .seguradoras img{
        width: 110px;
        margin: 5px;
        margin-right: 10px;
    }
    .seguradoras .tokio {
        width: 150px;
        height: 60px;
    }

    .seguradoras .yelum{
        width: 160px;
        
    }
    
    /* .seguradoras .liberty{
        width: 120px;
    } */
    
    .seguradoras .allianz{
        width: 120px;
        height: 60px;
    }    
} 

