.bio{
    display: flex;
	flex-direction: column;
	background-image: linear-gradient(#bf9b30, #ffbf00, #ffbf00, #bf9b30);
    width: 100vw;
    height: 100vh;
	justify-content: center;
	align-items: center;
}

.container{
	margin-top: 10px;
	justify-content: center;

}

.matry {
		opacity: 1;
		animation-name: fadeInOpacity;
		animation-iteration-count: 1;
		animation-timing-function: ease-in;
		animation-duration: 1s;
}
	
@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}



.matry{
	width: 200px;
	align-self: center;
	padding: 20px;
	background-color: aliceblue;
	border-radius: 50%;
	border: 10px solid goldenrod;
	border-style: double;
}

.links{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.links p{
	font-family: "Roboto", sans-serif;
	font-weight: 700;
	font-size: 20px;
	color: white;
	text-shadow: 1px 1px black;
	text-align: center;
	margin: 10px;
}

.seguradoras{
	display: flex;
	flex-wrap: wrap;
	width:600px;
	margin-top: 10px;
	justify-content: space-between;
	align-items: center;
}

.seguradoras img{
	width: 120px;
	margin: 5px;
}
.seguradoras .tokio {
	width: 200px;
	height: 80px;
}

.seguradoras .liberty {
	width: 180px;
}

.seguradoras .porto {
	width: 130px;
}

.seguradoras .allianz{
	width: 150px;
	height: 80px;
}

.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

button {
	width: 300px;
	height: 80px;
	cursor: pointer;
	font-family: "Freeman", sans-serif;
	font-size: 26px;
	font-weight: 400;
	color: black;
	background: radial-gradient(circle,
    #ffcf40,#ffbf00);
	border: 2px solid white;
	box-shadow: 5px 5px 0 white, -5px -5px 0 white, -5px 5px 0 white,
		5px -5px 0 white;
	transition: 1000ms;
}

button:active{
	transition: ease-out;
	box-shadow: 20px 5px 0 white, -20px -5px 0 white;
}

.fa-whatsapp{
	font-size: 40px;
	color: #FFF;
	text-shadow: 1px 1px black;
}

.fa-envelope{
	font-size: 40px;
	color: #FFF;
	text-shadow: 1px 1px black;	
}

section .contacts{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 15px;
}

.contacts a {
	display: flex;
	text-decoration: none;
	color: #FFF;
	margin-right: 15px;
	justify-content: space-evenly;
	align-items: center;
	/* font-family: "Vast Shadow", serif; */
	font-family: "Rakkas", serif;
	/* font-family: "Stardos Stencil", system-ui; */
	/* 3 font-family: "Aldrich", sans-serif; */
	/* 4 font-family: "Aclonica", sans-serif; */
	/* font-family: "Squada One", sans-serif; */
	/* font-family: "Caveat", cursive; */
	font-size: 20px;
	font-weight: 400;
	text-shadow: 1.2px 0.5px black;
}

.contacts i{
	margin-right: 5px;
}

.contacts i:active{
	color: goldenrod;
}

.contacts a:active{
	color: goldenrod;
}

button i {
	margin-right: 8px;
}

.fa-motorcycle{
	margin-left: 4px;
}
.fa-truck{
	margin-right: 2px;
}